.custom-shape-divider-bottom-1642021370 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1642021370 svg {
  position: relative;
  display: block;
  width: calc(131% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1642021370 .shape-fill {
  fill: #ffffff;
}
