body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.container {
	width: 1440px;
	margin: 0 auto;
	margin-bottom: 25px;
	background-color: white;
	border-radius: 5px;
}

.section {
	padding: 100px 50px;
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 20px 0px rgba(204, 204, 204, 1);
	-moz-box-shadow: 3px 3px 20px 0px rgba(204, 204, 204, 1);
	box-shadow: 3px 3px 20px 0px rgba(204, 204, 204, 1);
}
