.navbar {
	padding: 0 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	-webkit-box-shadow: 0px 5px 30px -10px rgba(255, 162, 0, 1);
	-moz-box-shadow: 0px 5px 30px -10px rgba(255, 162, 0, 1);
	box-shadow: 0px 5px 30px -10px rgba(255, 162, 0, 1);
}

.navheader {
	font-weight: 500;
}

.navlink {
	padding: 20px 50px;
	color: black;
	background-color: white;
	text-decoration: none;
	font-weight: 500;
	font-size: 20px;
}

.navlink:hover {
	color: white;
	background-color: rgba(255, 162, 0, 1);
}
